*{
    font-family: 'Kodchasan', Arial, sans-serif;
    box-sizing: border-box
}
body{
    margin: 0;
    padding: 0
}
p,
h2{
    width: 450px;
    min-height: 75px;
    padding: 0 10px
}
.main {
    padding: 15px 50px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex:1
}
header{
    padding-top: 25px;
    text-align: center;
    background: url("./img/header_bg.jpg") no-repeat center;
    height: 645px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 12px
}
.header {
    background-color: #000
}
h1 {
    color: #fff;
    font-size: 50px
}
header input {
    font-size: 30px;
    height: 50px
}
footer {
    text-align: center;
    background-color: #000
}
a {
    color: #fff;
    text-decoration: none
}
.global {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
